// ================
// Typography
// ================

@use "../config";

// ================
// Root

html {
  line-height: config.$line-height;
}

// ================
// Headlines

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
  line-height: config.$line-height;
}

h1,
h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

// ================
// Body Copy

p,
ul,
ol,
blockquote,
address {
  margin: 0 0 1rem 0;
  font-style: normal;
}

ul,
ol {
  li {
  }
}

a {
  &:hover,
  &:focus {
  }
}

%small,
small,
.copyright {
  font-size: 0.875em;
  font-style: italic;
}

// ================
// Other Type Styles

.error,
.val-header {
  color: config.$c-error;
}
