// ================
// CEEB Lookups
// ================



// ================
// CEEB Format Selection
$x-ceebFormat: 'autosuggest'; // 'modal' or 'autosuggest'

@if $x-ceebFormat == 'autosuggest' {



  // ================
  // Auto-Suggest Format

  // CEEB Question
  .rte-custom-highschoollookup7 {
    .result {
      position: relative;
      margin: 1rem 0;
      padding: .5rem;
      border: 1px solid #000;

      .location {
        display: block;
        font-size: .875em;
        font-style: italic;
      }

      a {
        position: absolute;
        top: .5rem;
        right: .5rem;
        color: transparent;
        border: 0;
        background: none;
        font-size: 0;

        &::after {
          content: "X";
          color: #000;
          font-size: 1rem;
          line-height: 1;
        }
        
        &:hover,
        &:focus {
          &::after {
          // NOTE: Put hover/focus styles here
          }
        }
      }
    }
  }

  // CEEB Autosuggest
  .ac_results {
    z-index: 1000;
    background: #fff;
    position: relative;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: block;
      margin: 0;
      padding: .75em;
      cursor: pointer;

      &:nth-child(even) {
        background: #eee;
      }

      // Hover State
      // Use this instead of :hover to allow for keyboard navigation
      &.ac_over {
      }

      // Matching Search Text
      &:not(.cantfind) strong {
      }

      .location {
        display: block;
        font-size: .85em;
        font-style: italic;
      }

      // Can't Find Link
      &.cantfind {

        // Hover State
        &.ac_over {
        }
      }
    }
  }
}

@elseif $x-ceebFormat == 'modal' {



  // ================
  // Modal Format

  // CEEB Modal
  .ceebpop-modal.fancybox-wrap {
  }

  // CEEB Forms
  .ceeb-search,
  .ceeb-manual {
  }

  // CEEB Search Results List
  .ceeb-results-list {
    padding: 0;
    list-style: none;

    li {
      position: relative;
      margin: 0;
      padding: .5em 5.5em .5em .5em;
      background: #fff;

      &:nth-child(even) {
        background: #eee;
      }

      .ceeb-button-result {
        display: block;
        margin: .5em 0 0 0;

        @media only screen and (min-width: $mq-400) {
          position: absolute;
          top: 1em;
          right: 1em;
          margin: 0;
        }
      }

      &.ceeb-no-results {
        padding: 2em .5em .5em .5em;
        text-align: center;
        background: none;

        .button-well {
          margin-top: .5em;

          .button ~ .button {
            margin: 0 0 0 .75em;
          }

          @media only screen and (min-width: $mq-600) {
            display: inline-block;
            margin-top: 0;

            .button {
              margin: 0 0 0 .75em;
            }
          }
        }
      }
    }
  }

  // CEEB Result
  .ceeb-answer-group {
    display: block;
    padding: .5rem;
    border: 1px solid #000;

    .button-well {
      margin: .5rem 0;
    }
  }

  // CEEB School Data Formatting
  [class^="ceeb"][class$="name"] {
    display: block;
  }

  [class^="ceeb"][class$="city"],
  [class^="ceeb"][class$="state"] {
    font-size: .875em;
    font-style: italic;
    line-height: 1;
  }

  [class^="ceeb"][class$="city"] {
    &::after {
      content: ", ";
    }
  }
}
