//* ================
//* Form Elements
//* ================

@use "../config";
@use "../global";

// ================
// Form Fields

// Base Form Field Styles
%form-field {
  width: 100%;
  padding: 0.5em;
  border: 1px solid;
  background: #fff;

  .type_telephone &,
  .type_ssn &,
  .type_date & {
    width: auto;

    // Min widths fix a sizing bug on iOS
    &[size="2"] {
      min-width: 3.25em;
    }

    &[size="3"] {
      min-width: 4.25em;
    }

    &[size="4"] {
      min-width: 5.25em;
    }
  }

  .error &,
  .val-flag & {
    border-color: config.$c-error;
  }

  &:focus {
    outline: none;
  }
}

// Text-like Inputs
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"],
.StripeElement {
  @extend %form-field !optional;
  line-height: 1.2;
}

// Textarea
textarea {
  @extend %form-field !optional;
  overflow: auto !important;
  min-height: 8em;
  resize: vertical !important;
  line-height: 1.4;
}

// Select (dropdown)
select {
  @extend %form-field !optional;
  overflow: hidden;
  line-height: 1.2;
}

// Radio & Checkbox
input[type="radio"],
input[type="checkbox"] {
  float: left;
  width: 1em;
  height: 1em;
  margin: 0.5em 0 0 0;

  & ~ label,
  & ~ .rte-q-label {
    display: block;
    padding: 0.3125em 0 0.3125em 1.25rem;
    cursor: pointer;
    font-size: 0.9444em;
  }
}

// ================
// Question Layout

// Basic Question
.question {
  margin: 1rem 0;

  // Labels
  & > label,
  & > .rte-q-label,
  & > .desc {
    display: block;
    padding: 0 0 0.125em 0;
    line-height: 1.4;

    .error &,
    .val-flag & {
      color: config.$c-error;
    }
  }

  // Help Text
  .help {
    @extend %small;
  }

  // "For Print" Styles
  // Hides printable textarea content on screens
  @media screen {
    .forprint {
      display: none !important;
    }
  }
}

// Wide Form Layout
// These styles apply only when the "wide form" layout is in use
%wide-form,
.wide-form {
  @include config.wideFormFlex() {
    .question {
      margin: 0;
      padding: 1rem 0;
      border-top: 1px solid #ddd;
    }

    .related-question {
      padding-top: 0;
      border-top: none;
    }

    .rte-q:first-of-type {
      .question {
        padding-top: 0;
        border-top: 0;
      }
    }
  }
}

// Checkbox & Radio Questions
.type_multicheck,
.type_radio,
.type_ethnicity {
  .choice {
    span {
      display: inline-block;
      margin-right: 1em;
      vertical-align: baseline;
    }

    input {
      &[type="radio"],
      &[type="checkbox"] {
        & > label,
        & > .rte-q-label {
          width: auto;
        }
      }
    }
  }

  // Stacked Answer Choices
  &.answer-stacked .choice {
    span {
      display: block;
    }
  }
}

// Merged Fields
.type_date,
.type_ssn,
.type_telephone {
  [role="group"] {
    display: flex;

    & > * {
      &:not(:first-child) {
        margin-left: 0.25em;

        .group_mode_view & {
          margin-left: 0;
        }
      }

      select {
        width: 100%;
      }
    }
  }
}

// FY21 update to add a checkbox field to the SSN field, to hide/show the numbers entered.
.type_ssn {
  .rte-checkbox,
  .type_checkbox {
    input[type="checkbox"] {
      & ~ label,
      & ~ .rte-q-label {
      }

      &:hover,
      &:focus {
        & ~ label,
        & ~ .rte-q-label {
        }
      }
    }
  }
}

// ================
// Login & PW Lookup Forms

// Login Form
.type_event_login {
  // Containing Block for the UN & PW Fields
  .un_pw {
  }
}

// PW Lookup Form
.type_pw_lookup {
}
