// ================
// Modal Windows
// ================

@use "../config";

// ================
// Modal Format Selection
$x-modalFormat: 'fancybox'; // 'fancybox' or 'rope'



// ================
// Base Modal Styles

%modal-overlay {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(#000, .8) !important;
}

%modal-wrap {
  position: absolute !important;
  right: 0 !important;
  left: 0 !important;
  width: 90% !important;
  max-width: config.$mq-600 !important;
  margin: 0 auto !important;
}

%modal-skin {
  padding: 1.5rem !important;
  border-radius: 0 !important;
  background: #fff !important;
}

%modal-close {
  position: absolute;
  top: .75rem;
  right: .75rem;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  color: transparent;
  border: 0;
  background: none;
  font-size: 0;

  &::after {
    content: "X";
    color: #000;
    font-size: 2rem;
    line-height: 1;
  }

  &:hover,
  &:focus {
    &::after {
      // NOTE: Put hover/focus styles here
    }
  }
}

@if $x-modalFormat == 'fancybox' {



  // ================
  // Fancybox Modals

  .fancybox-overlay {
    @extend %modal-overlay;
  }

  .fancybox-wrap {
    @extend %modal-wrap;
  }

  .fancybox-skin {
    @extend %modal-skin;
  }

  .fancybox-inner {
    width: 100% !important;
    height: auto !important;
  }

  .fancybox-close {
    @extend %modal-close;
  }



}

@elseif $x-modalFormat == 'rope' {



  // ================
  // ROPE Modals

  body.overlay-lock {
    position: relative;
    overflow: hidden !important;
    height: 100% !important;
  }

  .rope-overlay {
    @extend %modal-overlay;

    &.overlay-scale {
      transform: scale(.9);
      visibility: hidden;
      overflow: auto;
      transition: transform .2s, opacity .2s, visibility 0s .2s;
      opacity: 0;

      &.open {
        transform: scale(1);
        visibility: visible;
        transition: transform .4s, opacity .4s;
        opacity: 1;
      }
    }

    .wrapper {
      @extend %modal-wrap;
      @extend %modal-skin;
      top: 5%;
    }

    .rope-overlay-close {
      @extend %modal-close;
    }
  }



}
