// Breakpoints
$mq-2000: 125rem;
$mq-1900: 118.75rem;
$mq-1800: 112.5rem;
$mq-1700: 106.25rem;
$mq-1600: 100rem;
$mq-1500: 93.75rem;
$mq-1400: 87.5rem;
$mq-1300: 81.25rem;
$mq-1200: 75rem;
$mq-1100: 68.75rem;
$mq-1000: 62.5rem;
$mq-900: 56.25rem;
$mq-800: 50rem;
$mq-700: 43.75rem;
$mq-600: 37.5rem;
$mq-500: 31.25rem;
$mq-400: 25rem;
$mq-300: 18.75rem;
