// Base Color Variables
// Purpose: Setting base colors being used for Your Partner.
$c-black: #000;
$c-white: #fff;

// Brand Color Variables
// Purpose: Style your elements with these variables, to set yourself up for success down the line.
$c-primaryColor1: $c-black;
$c-primaryColor2: $c-white;

// $c-secondaryColor1: ;

$c-error: red;
$c-valid: green;
